<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto">
                <h2 class="text-center mt-3">Add Patient</h2>
                <form class="mb-5 mt-3" action="/admin/add-patient" method="POST" enctype="multipart/form-data">

                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="ptName">



                    <label for="age">Age</label>
                    <input type="number" class="form-control" name="ptAge">


                    <label for="mobile">Mobile Number</label>
                    <input type="text" class="form-control" name="ptMobile">


                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" name="ptPassword">

                    <div class="form-group">
                        <label for="">Image</label>
                        <input type="file" name="Image" class="form-control-file" >
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                    <input type="hidden" id="Status" name="Status" value="Active">
                </form>
            </div>
        </div>
    </div>
</div>