<section>
    <div class="container-fluid bg-light" style="height: 700px;">
        <div class=" text-center  my-3 py-5">
            <h1>Our Doctors</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-5 border-info border- rounded">
                        <div class="card-body text-center">
                            <img class="img-fluid rounded-circle w-50 mb-3 "  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTI-vYKLI6yLM7csXJn6Kt-n0shOeYcVs1Wqw&usqp=CAU" alt="">
                            <h3>Dr.Susan Philip</h3>
                            <h5>(BDS)</h5>
                            <p>Oral and Maxillofacial Surgeon</p>
                            <button type="button" class="btn btn-info mt-3 mb-3">Book Now</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-5 border-info border- rounded">
                        <div class="card-body text-center">
                            <img class="img-fluid rounded-circle w-50 mb-3 "  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTI-vYKLI6yLM7csXJn6Kt-n0shOeYcVs1Wqw&usqp=CAU" alt="">
                            <h3>Dr.Susan Philip</h3>
                            <h5>(BDS)</h5>
                            <p>Oral and Maxillofacial Surgeon</p>
                            <button type="button" class="btn btn-info  mt-3 mb-3">Book Now</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-5 border-info border- rounded">
                        <div class="card-body text-center">
                            <img class="img-fluid rounded-circle w-50 h-10 mb-3 "  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTI-vYKLI6yLM7csXJn6Kt-n0shOeYcVs1Wqw&usqp=CAU" alt="">
                            <h3>Dr.Susan Philip</h3>
                            <h5>(BDS)</h5>
                            <p>Oral and Maxillofacial Surgeon</p>
                            <button type="button" class="btn btn-info mt-3 mb-3">Book Now</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>